#one{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    border:2px solid black;
    height:800px;
    width:3%;
    background-color: rgba(0,0,0,0.7);
}
#a1,#a2{
    width:38px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    margin-top: 15px;
}

#a3{
    cursor: pointer;
    width: 40px;
    height: 30px;
    margin-top: 600px;
}
#two{
    display: flex;
    flex-direction: column;
    border:2px solid black;
    height:800px;
    background-color: rgba(0,0,0,0.8);
    width: 35%;
}
#three{
    display: flex;
    border:2px solid black;
    height:800px;
    /* flex-grow: 1; */
    background-color: rgba(0,0,0,1);
    justify-content: space-between;
    align-items: end;
    width: 80%;
}
/* #below{ */
    /* align-self: flex-end; */
/* } */
div{
    display: inline-block;
}
section{
    display: flex;
}
#typ{
    display: flex;
    /* z-index: 1; */
    /* width:970px; */
    /* border:2px solid grey; */
    /* border-top-left-radius: 50px; */
    /* border-top-right-radius: 50px; */
    /* border-bottom-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
    /* margin-bottom: 3px; */
}
#add{
    font-size: 30px;
    color:rgb(255, 255, 255);
    margin-right: 7px;
    margin-left: 5px;
    margin-bottom: 3px;
    /* z-index: 1; */
}
#chat{
    color:azure;
    font-size: 22px;
    margin-right: 5px;
    float: right;
}
#spk{
    margin-left: 5px;
    font-size: 25px;
    margin-bottom: 3px;
}
#add:hover{
    cursor: pointer;
    transform:rotate(45deg);
}
#chat{
    cursor: pointer;
}
#spk:hover{
    cursor: pointer;
    /* z-index: 1; */
}
img{
    width:15px;
    height:20px;
    margin-right: 5px;
    margin-left: 3px;
}
#a2:hover{
    cursor: pointer;
}
/* #blink{	 */
    /* animation-name:blink; */
    /* width:280px; */
    /* animation-duration:2s; */
    /* animation-timing-function:ease-in; */
    /* animation-iteration-count:Infinite; */
/* } */
/*    */
/* @keyframes blink{ */
/* 0%{color:red;} */
/* 50%{color:white;} */
/* 100%{color:red;} */
/* } */
input{
    font-size: 20px;
    color:white;
    box-sizing: border-box;
    width: 900px;
    background-color: black;
    border: 2px solid blueviolet;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 7px;
}
.cont{
    display:flex;
    /* border:1px solid gray; */
    margin-top: 10px;
}
.cont img{
    align-self: center;
    width:50px;
    height:50px;
    border-radius: 50%;
}
h3,h1{
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cont span{
    margin-left: 30px;
}
input[type="search"]{
    font-size: 20px;
    color:white;
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    border: 2px solid goldenrod;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 7px;
}
#top{
    display: flex;
}
button{
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid goldenrod;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 5px;
}
button:hover{
    background-color: greenyellow;
}
#hid{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 50%;
    top:0;
    /* width: 100%;  */
    /* height: 100%; */
    /* overflow: auto; Enable scroll if needed */
    /* background-color: rgba(0, 0, 0, 0.6); Black w/ opacity */
}

#inn{
    background-color:cornflowerblue;
    color: black;
    width: 250px;
    height:150px;
    border: 2px solid white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#cancel:hover{
    cursor: pointer;
    color:red;
}
#no,#yes{
    font-size: larger;
    margin: 40px;
}
#no:hover{
    background-color:greenyellow;
}
#yes:hover{
    background-color:red;
}
#yes a{
    color: black;
    text-decoration: none;
}
h2{
    font-size: large;
    margin-left: 35px;
}
